In [8]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [2]:
import pandas as pd

In [12]:
rides = pd.read_csv('cab_rides.csv',header=0)

In [13]:
rides.shape

(693071, 10)

In [14]:
weather = pd.read_csv('weather.csv',header=0)

In [15]:
weather.shape

(6276, 8)

In [16]:
%sql DROP TABLE if EXISTS rides;

%sql PERSIST rides;

%sql SELECT * FROM rides LIMIT 20;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 0.44, 'Lyft', 1544952607890, 'North Station', 'Haymarket Square', 5.0, 1.0, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared'),
 (1, 0.44, 'Lyft', 1544952607890, 'North Station', 'Haymarket Square', 11.0, 1.0, '4bd23055-6827-41c6-b23b-3c491f24e74d', 'lyft_premier', 'Lux'),
 (2, 0.44, 'Lyft', 1544952607890, 'North Station', 'Haymarket Square', 7.0, 1.0, '981a3613-77af-4620-a42a-0c0866077d1e', 'lyft', 'Lyft'),
 (3, 0.44, 'Lyft', 1544952607890, 'North Station', 'Haymarket Square', 26.0, 1.0, 'c2d88af2-d278-4bfd-a8d0-29ca77cc5512', 'lyft_luxsuv', 'Lux Black XL'),
 (4, 0.44, 'Lyft', 1544952607890, 'North Station', 'Haymarket Square', 9.0, 1.0, 'e0126e1f-8ca9-4f2e-82b3-50505a09db9a', 'lyft_plus', 'Lyft XL'),
 (5, 0.44, 'Lyft', 1544952607890, 'North Station', 'Haymarket Square', 16.5, 1.0, 'f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2', 'lyft_lux', 'Lux Black'),
 (6, 1.08, 'Lyft', 1543284023677, 'Northeastern University', 'Back Bay', 10.5, 1.0, '462816a3-820d-408b-8549-0b39e82f65ac', 'lyft_plus', 'Lyft XL'),
 (7, 1.08, 'Lyft', 1543284023677, 'Northeastern University', 'Back Bay', 16.5, 1.0, '474d6376-bc59-4ec9-bf57-4e6d6faeb165', 'lyft_lux', 'Lux Black'),
 (8, 1.08, 'Lyft', 1543284023677, 'Northeastern University', 'Back Bay', 3.0, 1.0, '4f9fee41-fde3-4767-bbf1-a00e108701fb', 'lyft_line', 'Shared'),
 (9, 1.08, 'Lyft', 1543284023677, 'Northeastern University', 'Back Bay', 27.5, 1.0, '8612d909-98b8-4454-a093-30bd48de0cb3', 'lyft_luxsuv', 'Lux Black XL'),
 (10, 1.08, 'Lyft', 1543284023677, 'Northeastern University', 'Back Bay', 13.5, 1.0, '9043bf77-1d45-4a93-9520-a083e0277f16', 'lyft_premier', 'Lux'),
 (11, 1.08, 'Lyft', 1543284023677, 'Northeastern University', 'Back Bay', 7.0, 1.0, 'd859ec69-b3ff-4af8-9abd-441e31430c94', 'lyft', 'Lyft'),
 (12, 1.11, 'Uber', 1543366822198, 'West End', 'North End', 12.0, 1.0, '009e9c53-074d-43cf-aef2-0fbc7a47ed3d', '6f72dfc5-27f1-42e8-84db-ccc7a75f6969', 'UberXL'),
 (13, 1.11, 'Uber', 1543366822198, 'West End', 'North End', 16.0, 1.0, '23f145da-f0c1-4d1f-a184-496bc003a7db', '6c84fd89-3f11-4782-9b50-97c468b19529', 'Black'),
 (14, 1.11, 'Uber', 1543366822198, 'West End', 'North End', 7.5, 1.0, '357559cb-8c58-4278-a41a-e33b2e0997a3', '55c66225-fbe7-4fd5-9072-eab1ece5e23e', 'UberX'),
 (15, 1.11, 'Uber', 1543366822198, 'West End', 'North End', 7.5, 1.0, '50ef1165-9d23-416c-a65c-18906207b295', '9a0e7b09-b92b-4c41-9779-2ad22b4d779d', 'WAV'),
 (16, 1.11, 'Uber', 1543366822198, 'West End', 'North End', 26.0, 1.0, '91c4861c-1780-42b0-bca1-bbd64a422cc3', '6d318bcc-22a3-4af6-bddd-b409bfce1546', 'Black SUV'),
 (17, 1.11, 'Uber', 1543366822198, 'West End', 'North End', 5.5, 1.0, 'e219e545-a006-4936-a6cc-7d00adf0e418', '997acbb5-e102-41e1-b155-9df7de0a73f2', 'UberPool'),
 (18, 1.11, 'Uber', 1543366822198, 'West End', 'North End', None, 1.0, 'fa5fb705-03a0-4eb9-82d9-7fe80872f754', '8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a', 'Taxi'),
 (19, 0.72, 'Lyft', 1543553582749, 'Haymarket Square', 'North Station', 11.0, 1.0, '18d580ac-c91a-4b6d-aa75-ab62566f713e', 'lyft_plus', 'Lyft XL')]

In [17]:
%sql DROP TABLE if EXISTS weather;

%sql PERSIST weather;

%sql SELECT * FROM weather LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 42.42, 'Back Bay', 1.0, 1012.14, 0.1228, 1545003901, 0.77, 11.25),
 (1, 42.43, 'Beacon Hill', 1.0, 1012.15, 0.1846, 1545003901, 0.76, 11.32),
 (2, 42.5, 'Boston University', 1.0, 1012.15, 0.1089, 1545003901, 0.76, 11.07),
 (3, 42.11, 'Fenway', 1.0, 1012.13, 0.0969, 1545003901, 0.77, 11.09),
 (4, 43.13, 'Financial District', 1.0, 1012.14, 0.1786, 1545003901, 0.75, 11.49)]

In [66]:
#Checking no of rides per cab_type

%%sql 
select
cab_type,count(*) no_of_rides,round(avg(distance),2) avg_distance from rides a
group by cab_type

#Both Lyft and Uber have the same average distance covered in the rides, with Uber having 55.6% of the market share compared to Lfyt's 44.4%

 * sqlite://
(sqlite3.OperationalError) near "#Both": syntax error
[SQL: select
cab_type,count(*) no_of_rides,round(avg(distance),2) avg_distance from rides a
group by cab_type

#Both Lyft and Uber have the same average distance covered in the rides, with Uber having 55.6% of the market share compared to Lfyt's 44.4%]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [85]:
# Checking source distribution for Uber
%%sql 
select
source,
count(*) no_of_rides from rides a
where cab_type='Uber'
group by source
order by 2 desc

 * sqlite://
Done.

[('Financial District', 32620),
 ('Theatre District', 32283),
 ('Boston University', 32144),
 ('North End', 32143),
 ('Northeastern University', 32142),
 ('Back Bay', 32137),
 ('Fenway', 32137),
 ('South Station', 32130),
 ('Haymarket Square', 32122),
 ('West End', 32074),
 ('Beacon Hill', 31939),
 ('North Station', 31792)]

In [86]:
# Checking source distribution for Lyft
%%sql 
select
source,
count(*) no_of_rides from rides a
where cab_type='Lyft'
group by source
order by 2 desc

 * sqlite://
Done.

[('Financial District', 26237),
 ('Back Bay', 25655),
 ('Boston University', 25620),
 ('Fenway', 25620),
 ('North End', 25620),
 ('South Station', 25620),
 ('Haymarket Square', 25614),
 ('Northeastern University', 25614),
 ('Theatre District', 25530),
 ('West End', 25488),
 ('Beacon Hill', 25464),
 ('North Station', 25326)]

In [87]:
# Checking destination distribution for all cab types
%%sql 
select
destination,
count(*) no_of_rides from rides a
group by destination
order by 2 desc

 * sqlite://
Done.

[('Financial District', 58851),
 ('Theatre District', 57798),
 ('Back Bay', 57780),
 ('Boston University', 57764),
 ('Haymarket Square', 57764),
 ('Fenway', 57757),
 ('North End', 57756),
 ('Northeastern University', 57755),
 ('South Station', 57749),
 ('West End', 57575),
 ('Beacon Hill', 57403),
 ('North Station', 57119)]

In [75]:
#Checking no of rides by hour

%%sql 
select
cast(strftime('%H',datetime(cast(time_stamp/1000 as integer), 'unixepoch')) as integer) hour,
count(*) no_of_rides from rides a
group by cast(strftime('%H',datetime(cast(time_stamp/1000 as integer), 'unixepoch')) as integer)
order by hour

-- Demand for rides is fairly balanced across all hours with slight surge over business hours, commute and late night.

 * sqlite://
Done.

[(0, 32413),
 (1, 28548),
 (2, 28548),
 (3, 27815),
 (4, 28330),
 (5, 25008),
 (6, 27336),
 (7, 24936),
 (8, 24275),
 (9, 28971),
 (10, 30384),
 (11, 30384),
 (12, 30384),
 (13, 30384),
 (14, 30384),
 (15, 30383),
 (16, 30384),
 (17, 30384),
 (18, 30384),
 (19, 27555),
 (20, 26782),
 (21, 27732),
 (22, 29436),
 (23, 31931)]

In [89]:
#Checking distribution of rides demand across days of the week (Sunday - Saturday)

%%sql 
select
strftime('%w',datetime(cast(time_stamp/1000 as integer), 'unixepoch')) week_day,
count(*) no_of_rides from rides a
group by strftime('%w',datetime(cast(time_stamp/1000 as integer), 'unixepoch'))
order by no_of_rides desc

--Tuesday and Monday have the highest demand for rides and Wednesday the least.

 * sqlite://
Done.

[('2', 124949),
 ('1', 124216),
 ('4', 98505),
 ('0', 91530),
 ('6', 90168),
 ('5', 90012),
 ('3', 73691)]

In [82]:
%%sql 
select
a.name,
count(*) no_of_rides from rides a
where cab_type="Uber"
group by a.name
order by 2 desc

 * sqlite://
Done.

[('Black SUV', 55096),
 ('UberXL', 55096),
 ('WAV', 55096),
 ('Black', 55095),
 ('Taxi', 55095),
 ('UberX', 55094),
 ('UberPool', 55091)]